<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1009486328790-rgum5pn9adtgeo0qq6pcg540cmat0a97.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1009486328790-rgum5pn9adtgeo0qq6pcg540cmat0a97</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1009486328790-1cathqk0bnoo6s7a3p0n3et5j1qsonpv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCFVGiarBdENYXaxxbCpQSN4yvii9k1tHY</string>
	<key>GCM_SENDER_ID</key>
	<string>1009486328790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.ionic.starter</string>
	<key>PROJECT_ID</key>
	<string>pl-test-a479f</string>
	<key>STORAGE_BUCKET</key>
	<string>pl-test-a479f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009486328790:ios:9934f18fa68304359baa77</string>
</dict>
</plist>